*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


body{
  background-color: #7e00fc;
  background-image: linear-gradient(to right,#7e00fc,#442069);
  
}


.the-app{
  margin: auto;
  width: 23vw;
  box-shadow: black 2px -2px 30px;
  margin-top: 5%;
  height: 70vh;
  background-color: black;
  position: relative;
  overflow: hidden;
  color: blanchedalmond;
  border-radius: 1%;
}

#next{
  left: 70%;
  top: 13%;
}
#prev{
  right: 70%;
  top: 13%;
}
#playPause{
  left: 41%;
  width: 20%;
  top: 5%;
  border-radius: 50%;
  padding: 20px;
  padding-left: 25px;
  box-shadow: gray 2px 2px 15px;
}
#next,#prev,#playPause{
  font-size: 160%;
  cursor: pointer;
  position: absolute;
}
#songDuration{
  right: 6%;
}
#time-spent{
    left: 6%;
}
#time-spent,#songDuration{
  top: 60%;
  position: absolute;
}
h4{
  position: absolute;
  top: 13%;
  right: 5%;
}
h3{
    top: 9%;
}
h5{
    top: 14%;
}
.fa-heart{
  font-size: 170%;
  right: 7%;
  top: 2%;
  position: absolute;
}
.fa-bars{
  font-size: 160%;
  margin-top: 3%;
  margin-left: 4%;
}
h3,h5{
  left: 8%;
  position: absolute;
}
img{
    position: absolute;
    box-shadow: 0px 0px 15px #7efc00;
    left: 20%;
    top: 20%;
    width: 60%;
    border-radius: 10%;
}
#range{
  position: absolute;
  top: 65%;
  left: 7%;
  width: 20vw;
}
#controls{
  background-color: #7efc00 ;
  border-radius: 45%;
  top: 73%;
  color: rgb(255, 255, 255);
  left: -5%;
  font-size: 110%;
  position: absolute;
  width: 25vw;
  height: 40vh;
}

.repeat-container{
  margin-left: 8%;
  margin-top: 30%;
  position: relative;
  color: white;
}

.repeat-btns{
  margin:6%;
  
}
button{
  border-radius: 50%;
  width: 1.4vw;
  outline: none;
  border: white;
  font-size: 100%;
  box-shadow: gray 2px 2px 15px;
}