.popular-container {
  width: 100%;
  margin: auto;
  height: fit-content;
  position: relative;
}

.popular-sub-container {
  margin: auto;
  width: 90%;
  position: relative;
  height: 100%;
}
.popular-txt {
  margin-left: 50px;
  font-size: 1.2em;
  font-weight: 600;
}

.popular-false-ani {
  position: absolute;
  left: 90%;
  opacity: 1;
  transition: opacity linear 0.3s;
  top: 0;
  height: 98%;
  width: 10%;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
  right: 0;
}

