.trending-container {
  width: 100%;
  margin: auto;
  position: relative;
  margin-top: 10px;
}


.trending-sub-container {
  margin: auto;
  width: 90%;
  position: relative;
  height: 100%;
  background-image: url('https://www.themoviedb.org/assets/2/v4/misc/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg');
  background-repeat: no-repeat;
  background-position-y: 100%;
}

.trending-txt {
  margin-left: 50px;
  font-size: 1.2em;
  font-weight: 600;
}


.trending-false-ani {
  position: absolute;
  left: 90%;
  opacity: 1;
  transition: opacity linear 0.3s;
  top: 0;
  height: 98%;
  width: 10%;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
  right: 0;
}

.week , .day{
  cursor: pointer;
}