*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: #212121;
}



canvas{
  display: block;
  margin: 0 auto;
  margin-top: 9%;
  box-shadow: inset 0px 0px 10px 5px #1f1e1e;
  border:10px solid #1f1e1e;
  border-radius: 20px;
  background-color: #323232;
}

#score{
  position: absolute;
  color: whitesmoke;
  left: 27%;
  top: 20%;
  font-weight: bold;
}









/* theme>>#14ffec>>#0d7377>>#323232>>#212121 */