*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: #212121;
}

.canvas-container {
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding-top: 5%;
}

canvas{
  box-shadow: inset 0px 0px 10px 5px #1f1e1e;
  border:10px solid #1f1e1e;
  border-radius: 20px;
  background-color: #323232;
}

#score{
  top: 12.5%;
}
#highest-score {
  top: 10.5%;
}

#highest-score ,#score{
  font-size: 90%;
  left: 30%;
  font-weight: bold;
  color: wheat;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
}


/* theme>>#14ffec>>#0d7377>>#323232>>#212121 */