*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}


.game-container{
  width: 80%;
  margin-left: 10%;
  border: white 10px solid;
}

canvas{
  width: 100%;
}

#score{
  color: whitesmoke;
  font-weight: bold;
}