*{
  margin: 0;
  padding:0;
  color: white;
}
body{
  background-color: #000000;
}
#title,#generate,#email{
  color: black;
}
.interface{
  margin: auto;
  background-color: #1a8b9d;
  position: relative;
  padding-bottom: 3%;
}
.fa-envelope{
  font-size: 300%;
  margin-top: 3%;
  margin-left: 47%;
  margin-bottom: 3%;
}
.fa-clipboard{
  font-size: 110%;
  background-color: #1a6e7a;
  padding: 2%;
  cursor: pointer;
  border-radius: 50px;
  position: relative;
}
.grabber{
  margin: auto;
  border: 2px black dashed;
  width: 40vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 130%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 0.5%;
  position: relative;
}
input{
  margin-bottom: 3%;
  margin-right: 20px;
  text-align: center;
  width: 70%;
  font-size: 80%;
  height: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: wheat;
  background-color:#0f6875 ;
  outline: none;
  border-radius: 10px;
}
#copied{
  font-size: 50%;
  bottom: -30%;
  left: 4%;
  position: absolute;
  transition: opacity 1s;
  opacity: 0;
}
.messages-section{
  width: fit-content;
  background-color:#9c9898;
  display: flex;
  transition: margin-left 0.5s;
  margin: auto;
  margin-left: 20%;
  margin-top: 3%;
  border-radius: 10px;
  position: relative;
  height: 400px;
  width: 60vw;
}
.settings{
  margin: auto;
}
.controls{
  width: 90%;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #b6aeae;
}
#settings{
  display: flex;
  flex-direction: column;
  font-size: 200%;
  color:  #b2d430;
  margin-bottom: 150%;
}
#settings:hover{
  color: #b3d430b9;
  cursor: pointer;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  padding: 10px;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #a3a3a3;
}
#items{
  color: #000000;
}
#instructions li{
  list-style-type: none;
  color: #9c9898;
  font-size: 70%;
}
.expand{
  border-radius: 7px;
  width:10vw;
  height: 10vh;
  position: absolute;
  right: 1%;
  height: 45vh;
  width: 0vw;
  top: 45%;
  transition: width 0.75s;
  background-color: #b6aeae;
  overflow:scroll;
  overflow-x: hidden;
}
.infos{
  padding: 10px;
  position: relative;
}
.seperator{
  width: 15vw;
  margin-top: 10%;
  background-color: rgba(0, 0, 0, 0.603);
  height: 0.1vh;
  margin: auto;
}
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background:#b6aeae;
}
::-webkit-scrollbar-thumb {
  background: #9c9898;
}
::-webkit-scrollbar-thumb:hover {
  background: #838383;
}
.attachments,.text{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
#name{
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
p{
  color: #131313;
  text-align: center;
}




#expand {
  transform: rotate(0deg);
  transition: transform 1s;
}


